@define-color base00 #000000;
@define-color base01 #1c1c1c;
@define-color base02 #383838;
@define-color base03 #545454;
@define-color base04 #7e7e7e;
@define-color base05 #a8a8a8;
@define-color base06 #d2d2d2;
/* @define-color basenot07 #fcfcfc; #*/
@define-color base07 #f0ffff;
@define-color base07txt #f0ffff;

@define-color base08 #ff0000;
@define-color base09 #fbfb40;
@define-color base0A #ffff00;
@define-color base0B #00ff00;
@define-color base0C #00ffff;
@define-color base0D #0000ff;
@define-color base0E #ff00ff;
@define-color base0F #00a800;

* {
    font-family: "Unscii";
    font-size: 10pt;
    color: @base07txt
}
window#waybar, tooltip {
    background: alpha(@base00, 1.000000);
    color: @base05;
}

tooltip {
    border-color: @base0D;
}
#wireplumber,
#pulseaudio,
#sndio {
    padding: 0 5px;
}
#wireplumber.muted,
#pulseaudio.muted,
#sndio.muted {
    padding: 0 5px;
}
#upower,
#battery {
    padding: 0 5px;
}
#upower.charging,
#battery.Charging {
    padding: 0 5px;
}
#network {
    padding: 0 5px;
}
#network.disconnected {
    padding: 0 5px;
}
#user {
    padding: 0 5px;
}
#clock {
    padding: 0 5px;
}
#backlight {
    padding: 0 5px;
}
#cpu {
    padding: 0 5px;
}
#disk {
    padding: 0 5px;
}
#idle_inhibitor {
    padding: 0 5px;
}
#temperature {
    padding: 0 5px;
}
#mpd {
    padding: 0 5px;
}
#language {
    padding: 0 5px;
}
#keyboard-state {
    padding: 0 5px;
}
#memory {
    padding: 0 5px;
}
#window {
    padding: 0 5px;
}
.modules-left #workspaces button {
    border-bottom: 3px solid transparent;
}
.modules-left #workspaces button.focused,
.modules-left #workspaces button.active {
    border-bottom: 3px solid @base05;
}
.modules-center #workspaces button {
    border-bottom: 3px solid transparent;
}
.modules-center #workspaces button.focused,
.modules-center #workspaces button.active {
    border-bottom: 3px solid @base05;
}
.modules-right #workspaces button {
    border-bottom: 3px solid transparent;
}
.modules-right #workspaces button.focused,
.modules-right #workspaces button.active {
    border-bottom: 3px solid @base05;
}

* {
  border: none;
  border-radius: 0;
  font-family: unscii;
}
window#waybar {
  background: #000000;
  border-bottom: 2px solid @base07;
}
#window {
  color: @base07;
}
#custom-lyrics {
  color: @base07;
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: @base07;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: @base07;
  padding-left: 1em;
  padding-right: 1em;
}
#mpris, #clock, #clock#date, #battery, #memory, #cpu, #network, #wireplumber {
  color: @base07;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: @base07;
  padding-left: 0.7em;
  padding-right: 0.4em;
  padding-top: 0.4em
}
