// https://github.com/zellij-org/zellij/issues/679layout
session_name "rainbow_session"
attach_to_session true
session_serialization true
pane_frames false
layout {
  tab_template name="ftft" {
    pane {
      size "50%"
    }
    pane {
      size "50%"
    }
  }
  ftft
  tab {
    pane {
      command "zsh"
      args "-c" "src-spotify-player; exec zsh -i"
    }
    pane {
      size "30%"
      command "zsh"
      args "-c" "wiremix; exec zsh -i"
    }
  }
  tab cwd="~/notebook" {
    pane {
      size "30%"
    }
    pane {
      command "zsh"
      args "-c" "nvim" "./index.norg; exec zsh -i"
    }
  }
  tab name="main" {
    pane {
      command "zsh"
      args "-lc" "microfetch; exec zsh"
      size "50%"
    }
    pane focus=true {
      size "50%"
    }
  }
  ftft
  ftft
  ftft
  ftft
  ftft
  ftft
}

